BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP "clk25" SITE "P6";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;
LOCATE COMP "sdram_clock" SITE "C8";
IOBUF PORT "sdram_clock" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_tx" SITE "L1";
IOBUF PORT "eth_clocks_tx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_clocks_rx" SITE "J1";
IOBUF PORT "eth_clocks_rx" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rst_n" SITE "R6";
IOBUF PORT "eth_rst_n" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdio" SITE "T4";
IOBUF PORT "eth_mdio" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_mdc" SITE "R5";
IOBUF PORT "eth_mdc" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_ctl" SITE "J2";
IOBUF PORT "eth_rx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[0]" SITE "K2";
IOBUF PORT "eth_rx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[1]" SITE "J3";
IOBUF PORT "eth_rx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[2]" SITE "K1";
IOBUF PORT "eth_rx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_rx_data[3]" SITE "K3";
IOBUF PORT "eth_rx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_ctl" SITE "L2";
IOBUF PORT "eth_tx_ctl" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[0]" SITE "M2";
IOBUF PORT "eth_tx_data[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[1]" SITE "M1";
IOBUF PORT "eth_tx_data[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[2]" SITE "P1";
IOBUF PORT "eth_tx_data[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "eth_tx_data[3]" SITE "R1";
IOBUF PORT "eth_tx_data[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "watchdog_function_3434be61_7188_4528_82e6_e8d7dc04b58b0" SITE "N5";
IOBUF PORT "watchdog_function_3434be61_7188_4528_82e6_e8d7dc04b58b0" IO_TYPE=LVCMOS33;
LOCATE COMP "watchdog_function_8efd8997_c6ee_4c7d_a872_8ec5ee6d71930" SITE "T6";
IOBUF PORT "watchdog_function_8efd8997_c6ee_4c7d_a872_8ec5ee6d71930" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out0" SITE "E4";
IOBUF PORT "gpio_out0" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out1" SITE "F4";
IOBUF PORT "gpio_out1" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out2" SITE "N3";
IOBUF PORT "gpio_out2" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out3" SITE "P3";
IOBUF PORT "gpio_out3" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out4" SITE "P4";
IOBUF PORT "gpio_out4" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out5" SITE "M3";
IOBUF PORT "gpio_out5" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out6" SITE "N1";
IOBUF PORT "gpio_out6" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out7" SITE "M4";
IOBUF PORT "gpio_out7" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out8" SITE "G3";
IOBUF PORT "gpio_out8" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out9" SITE "H4";
IOBUF PORT "gpio_out9" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out10" SITE "J5";
IOBUF PORT "gpio_out10" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out11" SITE "J4";
IOBUF PORT "gpio_out11" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out12" SITE "B1";
IOBUF PORT "gpio_out12" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out13" SITE "C2";
IOBUF PORT "gpio_out13" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out14" SITE "C1";
IOBUF PORT "gpio_out14" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out15" SITE "D1";
IOBUF PORT "gpio_out15" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out16" SITE "E2";
IOBUF PORT "gpio_out16" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out17" SITE "E1";
IOBUF PORT "gpio_out17" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out18" SITE "F2";
IOBUF PORT "gpio_out18" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out19" SITE "F1";
IOBUF PORT "gpio_out19" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out20" SITE "G2";
IOBUF PORT "gpio_out20" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out21" SITE "G1";
IOBUF PORT "gpio_out21" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out22" SITE "H2";
IOBUF PORT "gpio_out22" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out23" SITE "K5";
IOBUF PORT "gpio_out23" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out24" SITE "K4";
IOBUF PORT "gpio_out24" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out25" SITE "L3";
IOBUF PORT "gpio_out25" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out26" SITE "L4";
IOBUF PORT "gpio_out26" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out27" SITE "L5";
IOBUF PORT "gpio_out27" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out28" SITE "P2";
IOBUF PORT "gpio_out28" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out29" SITE "R2";
IOBUF PORT "gpio_out29" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out30" SITE "T2";
IOBUF PORT "gpio_out30" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out31" SITE "R3";
IOBUF PORT "gpio_out31" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out32" SITE "T3";
IOBUF PORT "gpio_out32" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out33" SITE "R4";
IOBUF PORT "gpio_out33" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out34" SITE "M5";
IOBUF PORT "gpio_out34" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out35" SITE "P5";
IOBUF PORT "gpio_out35" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out36" SITE "N6";
IOBUF PORT "gpio_out36" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out37" SITE "N7";
IOBUF PORT "gpio_out37" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out38" SITE "P7";
IOBUF PORT "gpio_out38" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out39" SITE "M7";
IOBUF PORT "gpio_out39" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out40" SITE "P8";
IOBUF PORT "gpio_out40" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out41" SITE "R8";
IOBUF PORT "gpio_out41" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out42" SITE "M8";
IOBUF PORT "gpio_out42" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_out43" SITE "M9";
IOBUF PORT "gpio_out43" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in0" SITE "P11";
IOBUF PORT "gpio_in0" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in1" SITE "N11";
IOBUF PORT "gpio_in1" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in2" SITE "M11";
IOBUF PORT "gpio_in2" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in3" SITE "T13";
IOBUF PORT "gpio_in3" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in4" SITE "R12";
IOBUF PORT "gpio_in4" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in5" SITE "R13";
IOBUF PORT "gpio_in5" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in6" SITE "R14";
IOBUF PORT "gpio_in6" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in7" SITE "T14";
IOBUF PORT "gpio_in7" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in8" SITE "D16";
IOBUF PORT "gpio_in8" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in9" SITE "C15";
IOBUF PORT "gpio_in9" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in10" SITE "C16";
IOBUF PORT "gpio_in10" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in11" SITE "B16";
IOBUF PORT "gpio_in11" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in12" SITE "B15";
IOBUF PORT "gpio_in12" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in13" SITE "C14";
IOBUF PORT "gpio_in13" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in14" SITE "T15";
IOBUF PORT "gpio_in14" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in15" SITE "P15";
IOBUF PORT "gpio_in15" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in16" SITE "R15";
IOBUF PORT "gpio_in16" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in17" SITE "P12";
IOBUF PORT "gpio_in17" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in18" SITE "P13";
IOBUF PORT "gpio_in18" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in19" SITE "N12";
IOBUF PORT "gpio_in19" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in20" SITE "N13";
IOBUF PORT "gpio_in20" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in21" SITE "M12";
IOBUF PORT "gpio_in21" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in22" SITE "P14";
IOBUF PORT "gpio_in22" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in23" SITE "N14";
IOBUF PORT "gpio_in23" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in24" SITE "H15";
IOBUF PORT "gpio_in24" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in25" SITE "H14";
IOBUF PORT "gpio_in25" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in26" SITE "G16";
IOBUF PORT "gpio_in26" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in27" SITE "F16";
IOBUF PORT "gpio_in27" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in28" SITE "G15";
IOBUF PORT "gpio_in28" IO_TYPE=LVCMOS33;
LOCATE COMP "gpio_in29" SITE "F15";
IOBUF PORT "gpio_in29" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen0_step" SITE "C4";
IOBUF PORT "stepgen0_step" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen0_dir" SITE "D4";
IOBUF PORT "stepgen0_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen1_step" SITE "D3";
IOBUF PORT "stepgen1_step" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen1_dir" SITE "E3";
IOBUF PORT "stepgen1_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen2_step" SITE "G5";
IOBUF PORT "stepgen2_step" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen2_dir" SITE "H5";
IOBUF PORT "stepgen2_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen3_step" SITE "G4";
IOBUF PORT "stepgen3_step" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen3_dir" SITE "H3";
IOBUF PORT "stepgen3_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen4_step" SITE "F3";
IOBUF PORT "stepgen4_step" IO_TYPE=LVCMOS33;
LOCATE COMP "stepgen4_dir" SITE "F5";
IOBUF PORT "stepgen4_dir" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder0_Encoder_A" SITE "E15";
IOBUF PORT "encoder0_Encoder_A" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder0_Encoder_B" SITE "E16";
IOBUF PORT "encoder0_Encoder_B" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder1_Encoder_A" SITE "L12";
IOBUF PORT "encoder1_Encoder_A" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder1_Encoder_B" SITE "L13";
IOBUF PORT "encoder1_Encoder_B" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder2_Encoder_A" SITE "M14";
IOBUF PORT "encoder2_Encoder_A" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder2_Encoder_B" SITE "L14";
IOBUF PORT "encoder2_Encoder_B" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder3_Encoder_A" SITE "G14";
IOBUF PORT "encoder3_Encoder_A" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder3_Encoder_B" SITE "G13";
IOBUF PORT "encoder3_Encoder_B" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder4_Encoder_A" SITE "F12";
IOBUF PORT "encoder4_Encoder_A" IO_TYPE=LVCMOS33;
LOCATE COMP "encoder4_Encoder_B" SITE "F13";
IOBUF PORT "encoder4_Encoder_B" IO_TYPE=LVCMOS33;
FREQUENCY PORT "eth_rx_clk" 125.0 MHz;

FREQUENCY PORT "eth_tx_clk" 125.0 MHz;

FREQUENCY PORT "clk25" 25.0 MHz;

FREQUENCY PORT "eth_clocks_rx" 125.0 MHz;